.next
.netlify
.vscode
node_modules
out
dist
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
desktop.ini
.asset-backups/
__pycache__/
*.pyc

# Local Netlify folder
.netlify
